.spotlight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.match-link {
    background: #E74C3C;
}

.match-link a {
    color: #F7F9F9;
}

.match-link:hover {
    background: #20002c;
}

.blog-link {
    background: #F7F9F9;
}

.blog-link a {
    color: #161616;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 20px;
}

.match {
    width: 280px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.match:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.match-banner {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.match-banner img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

.match-info {
    margin: 0 20px;
    text-align: center;
}

.country-name {
    color: #161616;
    font-size: 20px;
    font-weight: 600;
}

.time {
    color: #4D4D4D;
    font-size: 12px;
}